<div class="container" ng-controller="DashboardController">
	<div class="page-header">
		<%= content_tag :h1, 'The Dashboard' %>
	</div>
	<!-- TODO: Add Link to New Page -->
	<table class="table">
		<thead>
			<th>Sr No.</th>
			<th>Language</th>
			<th>CSV Filename</th>
			<th>Path</th>
			<th>Enabled</th>
			<th>Utilities</th>
		</thead>
		<tbody>
			<% @languages.each do |language| %>
				<tr>
					<td><%= language.id %></td>
					<td><%= language.languagename%></td>
					<td><%= language.name %></td>
					<td><%= language.path %></td>
					<td><%= check_box_tag 'accept', language.enabled, language.enabled %></td>
					<td>
						<button ng-click='update(<%= language.id %>)' class="btn btn-default btn-xs">
							<span class="fa fa-refresh"></span>
						</button>
						<button ng-click='remove(<%= language.id %>)' class="btn btn-danger btn-xs">
							<span class="fa fa-refresh"></span>
						</button>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
	<%= link_to "Upload New File", '/admin/new', :class => 'btn btn-success' %>
</div>