<!DOCTYPE html>
<html>
	<head>
		<title>Swarachakra</title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag    'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
	</head>
	<body ng-app="Swarachakra">
		<nav class="navbar navbar-default" role="navigation">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<%= link_to 'Swarachakra', '/', class: 'navbar-brand', id: 'logo' %>
				</div>
			</div>
		</nav>
		<div ng-controller="AppController">
			<%= yield %>
		</div>

		<!-- The Global Footer -->
		<footer class="footer">
			<%= render 'layouts/footer' %>
		</footer>
		<!-- The Debug Environment -->
		<%= debug(params) if Rails.env.development? %>

	</body>
</html>
